@mixin text-style-14() {
  font-size: $font-size-14;
}
@mixin text-style-16() {
  font-size: $font-size-16;
}
@mixin text-style-24() {
  font-size: $font-size-24;
}
@mixin text-style-28() {
  font-size: $font-size-28;
}

@mixin text-style($size, $color: false) {
  @if ($size == 14) {
    @include text-style-14;
  }
  @if ($size == 16) {
    @include text-style-16;
  }
  @if ($size == 24) {
    @include text-style-24;
  }
  @if ($size == 28) {
    @include text-style-28;
  }
  @if (type-of($color) == color) {
    color: $color;
  }
}
