@font-face {
  font-family: 'responsive';
  src: url('./assets/icons/responsive.eot');
  src: url('./assets/icons/responsive.eot#iefix') format('embedded-opentype'),
    url('./assets/icons/responsive.ttf') format('truetype'),
    url('./assets/icons/responsive.woff') format('woff'),
    url('./assets/icons/responsive.svg#responsive') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'responsive' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-facebook:before {
  content: '\e900';
}
.ic-arrow-right:before {
  content: '\e901';
}
.ic-phone:before {
  content: '\e902';
}
.ic-cart:before {
  content: '\e903';
}
.ic-search:before {
  content: '\e904';
}
.ic-menu:before {
  content: '\e905';
}
.ic-instagram:before {
  content: '\e906';
}
