* {
  margin: 0;
  box-sizing: border-box;
  //   font-family: ;
}
html {
  // font-family: ;
}
body {
  // font-family: ;
}
h1 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}
