/* ===== MOBILE ( < 768px) ===== */
/*
sm
* column : 6
* gutter : 8px
* contains : 100% - (6px * 2)
* margin: 6px
*/
/* TABLET ( > 768px) */
/*
md
* column : 12
* gutter : 8px
* contains : 100% - (28px * 2)
* margin: 28px
* max-container : 960px;
*/
/* DESKTOP ( >= 1200px) */
/*
lg
* column : 12
* gutter : 8px
* contains : 100% - (28px * 2)
* margin: 28px
* max-container : 1440px;
*/
$gutter: 8px;

$sm-columns: 6;
$sm-margin: 6px;

$md-breakpoint: 768px;
$md-columns: 12;
$md-margin: 28px;
$md-max-container: 960px + ($md-margin * 2);

$lg-breakpoint: 1200px;
$lg-columns: 12;
$lg-margin: 28px;
$lg-max-container: 1440px;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto; // container의 가운데정렬

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  [class^='col-'] {
    padding: 0 $gutter/2;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
      // width: ($i / $sm-columns) * 100;
    }
  }

  @media screen and (min-width: $md-breakpoint) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
        // width: ($i / $sm-columns) * 100;
      }
    }
  }

  @media screen and (min-width: $lg-breakpoint) {
    max-width: $lg-max-container;
    padding: 0 $lg-margin;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: percentage($i / $lg-columns);
        // width: ($i / $sm-columns) * 100;
      }
    }
  }
}
