$sub-white: #f6f8ff;
$white: #fff;
$sub-black: #232323;
$black: #000;
$dark-blue: #21212c;
$pink: #ee5a92;
$pink-gradient: linear-gradient(#ee5a92 56%, #ee5a92 0%);
$background-slide: rgba(16, 16, 16, 0.7);
